<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- views/reviews-new.handlebars -->

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form method="POST" action="/reviews">
                {{> reviews-form}}
                <!-- BUTTON -->
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Save Review</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>