<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>reviews</title>
</head>

<body>
    <!-- reviews-index -->
    <h1>Reviews</h1>

    <a href="/reviews/new">New Review</a>

    {{#each reviews}}
    <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
    <small>{{this.movieTitle}}</small>
    {{/each}}
</body>

</html>